[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11
[submodule "libs/simde"]
	path = libs/simde
	url = https://github.com/simd-everywhere/simde
[submodule "libs/sst/sst-cpputils"]
	path = libs/sst/sst-cpputils
	url = https://github.com/surge-synthesizer/sst-cpputils
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/sst/sst-plugininfra"]
	path = libs/sst/sst-plugininfra
	url = https://github.com/surge-synthesizer/sst-plugininfra
[submodule "libs/readerwriterqueue"]
	path = libs/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
[submodule "libs/clap-juce-extensions"]
	path = libs/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions
