[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "libs/simde"]
	path = libs/simde
	url = https://github.com/simd-everywhere/simde
[submodule "libs/sst/sst-cpputils"]
	path = libs/sst/sst-cpputils
	url = https://github.com/surge-synthesizer/sst-cpputils
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "libs/sst/sst-plugininfra"]
	path = libs/sst/sst-plugininfra
	url = https://github.com/surge-synthesizer/sst-plugininfra
[submodule "libs/clap-juce-extensions"]
	path = libs/clap/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions
[submodule "libs/sst/sst-filters"]
	path = libs/sst/sst-filters
	url = https://github.com/surge-synthesizer/sst-filters
[submodule "libs/sst/sst-jucegui"]
	path = libs/sst/sst-jucegui
	url = https://github.com/surge-synthesizer/sst-jucegui
[submodule "libs/taocpp_json"]
	path = libs/taocpp_json
	url = https://github.com/taocpp/json.git
[submodule "libs/sst/sst-basic-blocks"]
	path = libs/sst/sst-basic-blocks
	url = https://github.com/surge-synthesizer/sst-basic-blocks
[submodule "libs/sst/libgig-modified"]
	path = libs/sst/libgig-modified
	url = https://github.com/surge-synthesizer/libgig-modified.git
[submodule "libs/MTS-ESP"]
	path = libs/MTS-ESP
	url = https://github.com/ODDSound/MTS-ESP.git
[submodule "libs/xiph/flac"]
	path = libs/xiph/flac
	url = https://github.com/xiph/flac.git
[submodule "libs/sst/sst-effects"]
	path = libs/sst/sst-effects
	url = https://github.com/surge-synthesizer/sst-effects
[submodule "libs/sst/sst-clap-helpers"]
	path = libs/sst/sst-clap-helpers
	url = https://github.com/surge-synthesizer/sst-clap-helpers
[submodule "libs/clap/clap"]
	path = libs/clap/clap
	url = https://github.com/free-audio/clap
[submodule "libs/clap/clap-wrapper"]
	path = libs/clap/clap-wrapper
	url = https://github.com/free-audio/clap-wrapper
[submodule "libs/clap/clap-helpers"]
	path = libs/clap/clap-helpers
	url = https://github.com/free-audio/clap-helpers
[submodule "libs/sst/sst-voicemanager"]
	path = libs/sst/sst-voicemanager
	url = https://github.com/surge-synthesizer/sst-voicemanager
[submodule "libs/sst/sst-waveshapers"]
	path = libs/sst/sst-waveshapers
	url = https://github.com/surge-synthesizer/sst-waveshapers
